@{ 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Applications</h2>
        <p>Create and manage applications on that page.</p>
        <div class="">
            <a href="#" class="btn btn-primary">New App</a>
        </div>
        <div class="line"></div>
    </div>
</div>
<div class="row gameContainer">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/images/asbu.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A SECOND BEFORE US</h5>
                <div class="card-managment">
                    <a href="#" class="btn btn-outline-primary">Manage</a>
                    <div class="game-manage">
                        <a href="#">
                            <i class="fab fa-steam"></i>
                        </a>
                        <a href="#">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/images/blik.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BLIK</h5>
                <div class="card-managment">
                    <a href="#" class="btn btn-outline-primary">Manage</a>
                    <div class="game-manage">
                        <a href="#">
                            <i class="fab fa-steam"></i>
                        </a>
                        <a href="#">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="img/PUPPETGUNS.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HANZ PUPPETGUNS</h5>
                <div class="card-managment">
                    <a href="#" class="btn btn-outline-primary">Manage</a>
                    <div class="game-manage">
                        <a href="#">
                            <i class="fab fa-steam"></i>
                        </a>
                        <a href="#">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gameContainer">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="img/hanz.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HANZ</h5>
                <div class="card-managment">
                    <a href="#" class="btn btn-outline-primary">Manage</a>
                    <div class="game-manage">
                        <a href="#">
                            <i class="fab fa-steam"></i>
                        </a>
                        <a href="#">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="img/nl.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Northern Lights</h5>
                <div class="card-managment">
                    <a href="#" class="btn btn-outline-primary">Manage</a>
                    <div class="game-manage">
                        <a href="#">
                            <i class="fab fa-steam"></i>
                        </a>
                        <a href="#">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

