
@{
    ViewData["Title"] = "NotImplemented";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="not-implemented-block">
    <div class="not-implemented-block__text">
        <h2> <i class="fas fa-exclamation-triangle"></i> Oops! Not implemented yet!</h2>
    </div>
</div>

